<div id="contentarea">
  <p style="color: green"><%= flash[:notice] %></p>

TEXTO
</div>

<div id="sidebar">
    <h2>Informacion</h2>
  <% if !@ubicacions.blank? %>
  <% for ubicacion in @ubicacions %>
  <%= ubicacion.direccion %>
  <% end %>
  <% else %>
  No informations.
  <% end %>
</div>
